@model CodeFirstEntityFramework.Models.School

@{
    ViewBag.Title = "Details";
}
<div id="SchoolDetails">
    <h2>Details for @Html.DisplayFor(model => model.Name)</h2>

    <h4>Available Courses</h4>
    <a class="addlink" href="/Courses/Create?SchoolId=@Model.Id"><img src="~/Images/Add.png" /></a>
    <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>

    <table class="table">
        <tr>
            <th>
                Course Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    <a href="/Courses/Details/@item.Id?foo=bar">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Courses", new { id = item.Id, foo = "bar" }, null)
                    <a href="/Courses/Edit/@item.Id?foo=bar">Edit</a>


                    @Html.ActionLink("Delete", "Delete", "Courses", new { id = item.Id }, null)


                </td>
            </tr>
        }

    </table>




    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>