@using Common.Models
@model VacationRequest

@{
    ViewBag.Title = "Home Page";
}

@*<form id="vacationform" method="post" action="/Home/ApproveRejectVacation?SPHostUrl=@ViewBag.SPHostUrl&listid=@ViewBag.listid&ItemId=@ViewBag.ItemId">*@
    <form id="vacationform" method="post" action="/Home/ApproveRejectVacation?SPHostUrl=@ViewBag.SPHostUrl">
        <input type="hidden" value="@ViewBag.listid" name="listid" />
        <input type="hidden" value="@ViewBag.ItemId" name="ItemId" />


        <div class="form-group">
            <label>Title : @Model.RequestTitle</label>
        </div>
        <div class="form-group">
            <label>Employee : @Model.EmployeeName</label>
        </div>
        <div class="form-group">
            <label>StartDate : @Model.StartDate.ToString("yyyy-MM-dd")</label>
        </div>
        <div class="form-group">
            <label>EndDate : @Model.EndDate.ToString("yyyy-MM-dd")</label>
        </div>
        <div class="form-group">
            <label>Reason For Absense : @Model.ReasonForAbsense</label>
        </div>
        @{if (Model.ApprovalStatus != "Requested")
            {
                <div> This Request has already been @Model.ApprovalStatus</div>
                <div>Comments</div>
                <div>----------------------</div>
                <div>@Html.Raw(Model.Comments)</div>


            }
            else
            {
                <div class="form-group">
                    <label>Comments</label>
                    <textarea class="form-control" name="comments" rows="3"></textarea>
                </div>
                <button type="submit" name="requestsubmit" value="Approve" class="btn btn-default">Approve</button>
                <button type="submit" name="requestsubmit" value="Reject" class="btn btn-default">Reject</button>
            }
        }


    </form>